<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>v-for</title>
    <script src="https://unpkg.com/vue@next"></script>

</head>
<body>
    <div id="app">
        <h1 v-for="todo in todos" v-bind:key="todo.id">{{ todo.id }} {{todo.descrip }}</h1>
        <ol>
            <li v-for="todo in todos" :key="todo.id" :value="todo.id">{{ todo.descrip }}</li>
        </ol>
    </div>

    <script>
        const App = {
            data() {
                return{
                    todos: [
                        {id: 1, descrip: 'eat'},
                        {id: 2, descrip: 'sleep'},
                        {id: 7, descrip: 'walk'},
                        {id: 4, descrip: 'work'},
                        {id: 5, descrip: 'play'}
                    ]
                }
            }

        }
        Vue.createApp(App).mount('#app')
    </script>
</body>
</html>